body {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	line-height: 3rem;
	color: #1D141A;
	// background: #fff;
	background-image: url("bg.png") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 100%;

}
